body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

.container {
    text-align: center;
    padding-top: 150px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 22px;
}
